---
import Hero from '@components/section/Hero.astro'
import StatsCard from '@components/section/Stats.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<Hero>
		<h1 slot='title'>
			{"Hey, I'm Dimm! "}<span class='opacity-60'>{'Software Developer'}</span>
			{'and '}<span class='opacity-60'>{'UI/UX Designer'}</span>
		</h1>
		<p>
			{
				'I focus on future-oriented methodologies such as human-centricity, and lean development.'
			}
		</p>
		<a slot='button' href='/contact' class='btn'>Let&apos;s talk</a>
	</Hero>
	<StatsCard />
</Layout>
