---
import Logo from 'public/icons/logo/main.svg'
---

<header transition:persist transition:name='header'>
	<a href='/' class='logo' area-label='Return to home page'>
		<span class='sr-only'>Return to home page</span>
		<img {...Logo} class='w-full' alt='Dimm Kyselov logo' />
	</a>
	<nav>
		<a href='/about' data-astro-reload> About </a>
		<a href='/work'> Work </a>
		<a href='/services'> Services </a>
	</nav>
	<a href='/contact' class='button lg:!h-half lg:w-double'>Let's talk </a>
</header>

<style scoped>
	header {
		@apply fixed left-0 right-0 z-50 flex-row justify-between px-tile;
		@apply lg:px-double lg:py-quarter;
	}
	nav {
		@apply absolute left-1/2 right-1/2 hidden h-half w-quad -translate-x-1/2 flex-row rounded-full border border-backgroundSecondary bg-background p-1 *:w-full *:rounded-full lg:flex;
	}
	nav > * {
		@apply flex items-center justify-center transition duration-300 ease-out hover:bg-backgroundSecondary;
	}
	.logo {
		@apply z-10 aspect-square size-tile items-center justify-center rounded-full bg-brand lg:size-half;
	}
</style>
