---
import StatsCard from '@components/elements/StatsCard.astro'
---

<section>
	<div class='cont-p gap-tile py-tile lg:flex-row'>
		<StatsCard>
			<span>
				{'90+'}
			</span>
			<span slot='description'>
				{'Successful products created by me'}
			</span>
		</StatsCard>
		<StatsCard>
			<span>
				{'8'}
			</span>
			<span slot='description'>
				{'Years of commercial experience'}
			</span>
		</StatsCard>
		<StatsCard>
			<span>
				{'99%'}
			</span>
			<span slot='description'>
				{'Client satisfaction of my final work.'}
			</span>
		</StatsCard>
	</div>
</section>
