---

---

<div
	class='h-quad w-full border-b border-l border-backgroundSecondary bg-background px-half'
>
	<div class='h-double justify-center'>
		<h2 class='text-tile'>
			<slot>
				<span>0</span>
			</slot>
		</h2>
	</div>
	<hr class='border-backgroundSecondary' />
	<p class='pt-half'>
		<slot name='description'>
			<span>Stat description</span>
		</slot>
	</p>
</div>
